<html lang="en">
    <body>
        <div class="container mt-5">
            <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <p><a href="/cal/month"> Return to your Calendar </a></p>


                {% if name %}
                <h3> 
                    Username: {{ username }}
                </h3>

                <h3> 
                    Name: {{ name }}
                </h3>

                <h3> 
                    Email: {{ email }}
                </h3>

                <h3> 
                    Log out of your account?
                </h3>
                <button type="submit" class="btn btn-primary"> Log Out </button>

                {% else %}

                <h1> User is not logged in</h1>

                {% endif %}
            </form>
        </div>
    </body>
</html>