{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'register.css' %}">

{% endblock %}

{% block content %}

{% load mathfilters %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        <h1 style="text-align: center;">
            Reset Password
        </h1>
        
        {% csrf_token %}

        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>

        <h3>
            You should recieve an email containing a 8 digit number, place that number here
        </h3>
        
        <div class="form-group">
            <label for="number">
                Number:
            </label>
            <input type="text" class="form-control" name="number" id="number" placeholder="Enter Number" required>

        </div>

        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>
</div>

{% endblock %}