{% extends "calendar/base.html" %}

{% block title %}
My Calendar
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'calendar/monthview.css' %}">
<link rel="stylesheet" href="{% static 'calendar/todoevent.css' %}">
{% endblock %}

{% block content %}

{% load mathfilters %}
{% load calendar_filters %}

<div class="calendar-container">

  <div class="month-name">
    {{ start_month_abv }}{{ start_year_date }}
  </div>
  <div class="month-container">
  <div class="month-grid-container">
  <div class="calendar-grid-name-container">
    {% for name in day_names %}
    {% if forloop.counter|mod:7 == 1 %}
      <div class="day-name day-name-container weekend">
        {{ name }}
      </div>
    {% elif forloop.counter|mod:7 == 0 %}
    <div class="day-name day-name-container weekend">
      {{ name }}
    </div>
    {% else %}
    <div class="day-name day-name-container">
      {{ name }}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="calendar-grid-container">
    {% for day in offset_numbers %}
    {% if forloop.counter|mod:7 == 1 %}
    <div class="col-1 day-num-size weekend past-month-day"> 
      <div class = "day-num">
        {{ day }}
      </div>
      <div class = "day-event-container">
      {% for event in prev_month_events|find_events_date:day %}
      <div class = "day-event-container">
        <div class="blue-event-bar">

        </div>
        <div class="day-event blue-event">
          {{ event.title }}
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
    {% elif forloop.counter|divisibleby:7 %}
    <div class = "day-event-container">
      <div class="blue-event-bar">

      </div>
      <div class="day-event blue-event">
        {{ event.title }}
      </div>
    </div>
    {% else %}
    <div class="col-1 day-num-size past-month-day"> 
      <div class = "day-num">
        {{ day }}
      </div>
      {% for event in prev_month_events|find_ongoing_event:day %}
      <div class = "day-event-container">
        <div class="blue-event-bar">

        </div>
        <div class="day-event blue-event">
          {{ event.title }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}

  {% for day in days_list %}  
  {% with forloop.counter|add:day_offset as counter_with_offset %}
  {% if forloop.counter == date and current_month == start_month_name %}

  {% url "cal:monthevent" month_date=start_month_value day_date=start_day_value year_date=start_year_value selected_day=day as day_url %}
  <div class="col-1 day-num-size current-day"> 
    <a href="{{ day_url }}">
    <div class="link-container">
      <div class = "day-num">
        {{ day }}
      </div>
      <div class = "day-events-container">
        {% for event in month_events|find_ongoing_event:day %}
        {% if forloop.counter < 4 %}
        <div class = "day-event-container">
          <div class="red-event-bar">
  
          </div>
          <div class="day-event red-event">
            {{ event.title }}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="excess-month-view">  
          {% for event in month_events|find_ongoing_event:day %}
          {% if forloop.counter > 3  and forloop.counter < 7 %}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="month-event-icon">
              <circle cx="10" cy="10" r="10" fill=""/>
              </svg>
          {% endif %}
          {% endfor %}
          </div>
      </div>
    </div>  
    </a>
  </div>
  {% elif counter_with_offset|mod:7 == 1 %}
  {% url "cal:monthevent" month_date=start_month_value day_date=start_day_value year_date=start_year_value selected_day=day as day_url %}
  <div class="col-1 day-num-size weekend"> 
    <a href="{{ day_url }}">
    <div class="link-container">
    <div class = "day-num">
      {{ day }}
    </div>
    {% for event in month_events|find_ongoing_event:day %}
    {% if forloop.counter < 4 %}
      <div class = "day-event-container">
        <div class="red-event-bar">

        </div>
        <div class="day-event red-event">
          {{ event.title }}
        </div>
      </div>
    {% endif %}
    {% endfor %}
    
    <div class="excess-month-view">  
    {% for event in month_events|find_ongoing_event:day %}
    {% if forloop.counter > 3  and forloop.counter < 7 %}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="month-event-icon">
        <circle cx="10" cy="10" r="10" fill=""/>
        </svg>
    {% endif %}
    {% endfor %}
    </div>
    </div>  
    </a>
  </div>
  {% elif counter_with_offset|divisibleby:7 %}
  {% url "cal:monthevent" month_date=start_month_value day_date=start_day_value year_date=start_year_value selected_day=day as day_url %}
    <div class="col-1 day-num-size weekend"> 
      <a href="{{ day_url }}">
      <div class="link-container">
      <div class = "day-num">
        {{ day }}
      </div>
      {% for event in month_events|find_ongoing_event:day %}
      {% if forloop.counter < 4 %}
      <div class = "day-event-container">
        <div class="red-event-bar">

        </div>
        <div class="day-event red-event">
          {{ event.title }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="excess-month-view">  
        {% for event in month_events|find_ongoing_event:day %}
        {% if forloop.counter > 3  and forloop.counter < 7 %}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="month-event-icon">
            <circle cx="10" cy="10" r="10" fill=""/>
            </svg>
        {% endif %}
        {% endfor %}
      </div>
    </div>  
    </a>
    </div>
  {% else %}
  {% url "cal:monthevent" month_date=start_month_value day_date=start_day_value year_date=start_year_value selected_day=day as day_url %}
  <div class="col-1 day-num-size"> 
    <a href="{{ day_url }}">
    <div class="link-container">
      <div class = "day-num">
        {{ day }}
      </div>
      {% for event in month_events|find_ongoing_event:day %}
      {% if forloop.counter < 4 %}
      <div class = "day-event-container">
        <div class="red-event-bar">
  
        </div>
        <div class="day-event red-event">
          {{ event.title }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="excess-month-view">  
        {% for event in month_events|find_ongoing_event:day %}
        {% if forloop.counter > 3  and forloop.counter < 7 %}
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="month-event-icon">
            <circle cx="10" cy="10" r="10" fill=""/>
            </svg>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    </a>
  </div>
  {% endif %}

  {% if counter_with_offset|divisibleby:7 and not forloop.last %}
    </div><div class="calendar-grid-container">
  {% endif %}
  {% endwith %}
  {% endfor %}


  {% for day in next_offset_nums %}
  {% with forloop.counter|add:day_offset as counter_with_offset %}
  {% with counter_with_offset|add:current_days as next_counter_offset %}
  {% if next_counter_offset|divisibleby:7 %}
    <div class="col-1 day-num-size  past-month-day weekend"> 
      <div class = "day-num">
        {{ day }} 
      </div>
      {% for event in next_month_events|find_events_date:day %}
      <div class = "day-event-container">
        <div class="blue-event-bar">
  
        </div>
        <div class="day-event blue-event">
          {{ event.title }}
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
  <div class="col-1 day-num-size past-month-day"> 
    <div class = "day-num">
      {{ day }} 
    </div>
    {% for event in next_month_events|find_events_date:day %}
    <div class = "day-event-container">
      <div class="blue-event-bar">

      </div>
      <div class="day-event blue-event">
        {{ event.title }}
      </div>
    </div>
      {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endfor %}
  </div>
  </div>

  {% block monthviewer_content %}
  
  {% endblock %}

  </div>
</div>




{% endblock %}


{% block eventblocks %}
{% load mathfilters %}
{% load calendar_filters %}

<div class="todo-event-container">
  {% for event in todo_events %}
  <div class="event-containers">
    <div>
      {{ event.start_time|time:'h:i A' }} - {{ event.end_time|time:'h:i A' }}
    </div>
    <div class="title">
      {{ event.title }}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}Schedule Event
+
