.content-container-main{

  display: flex;
  flex-direction: column;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  padding-top: 5vh;

}

.link-format{

  font-size: 1vw;
}

.links-container{
  margin-top: 5vh;
}

.content-container-main .header{
  margin-top: 5vh;
  font-size: 2vw;
  font-weight: 600;
  color: rgb(30, 172, 255);
}

.register-box,
.login-box{
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
  justify-content: center;
}

.register-box .body,
.login-box .body{
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 1.3vw;
}

.button-sign{
  font-size: 1vw;
  font-weight: 500; /* Normal weight */
  color: #0e0e55;
  background-color: #a5c3ff; /* Custom color for the label */
  opacity: 50%;
  width: 7.5vw;
  height: 5vh;
  border: 2px solid #a5c3ff;
  border-radius: 5px;
}
.button-sign:hover{
  transition: 0.4s;
  font-size: 1vw;
  font-weight: 500; /* Normal weight */
  color: #0e0e55;
  background-color: #ffffff; /* Custom color for the label */
  opacity: 50%;
  width: 7.5vw;
  height: 5vh;
  border: 2px solid #a5c3ff;
  border-radius: 5px;
}