{% extends "calendar/monthviewer.html" %}

{% block title %}
My Calendar
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'calendar/monthview.css' %}">
<link rel="stylesheet" href="{% static 'calendar/monthevent.css' %}">

{% endblock %}

{% block monthviewer_content %}

{% load mathfilters %}

<div class="month-event-container">
  
  <div class="outer-container">
    <div class="outer-info-container">
      {% url 'monthviewer' month_date=start_month_value day_date=start_day_value year_date=start_year_value as month_viewer %}
      <div class="exit-container">
        <a href ="{{ month_viewer }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
          <circle cx="15.5" cy="15.5" r="15.5" fill="#DC2626"/>
          <circle cx="15.5" cy="15.5" r="15.5" fill="black" fill-opacity="0.2"/>
          <path d="M13.7358 12.0909L15.7386 15.9048L17.7912 12.0909H20.8949L17.7344 17.5455L20.9801 23H17.8906L15.7386 19.2287L13.6222 23H10.4972L13.7358 17.5455L10.6108 12.0909H13.7358Z" fill="white"/>
          </svg>
        </a>
      </div>
      <div class="outer-info">
        {{ start_date }}
      </div>
      <div>
        +
      </div>
    </div>
    <div class="inner-container">
      <div class="inner-info">
        <div class="selected-day-event-container">
          {% for event in current_day_event %}

          <div class="events-container">
            <div class="selected-day-event">
              <div class="red-main-event-bar">
  
              </div>
              <div class="event-card">
                <div class="event-card-time">
                  {{ event.start_time }}
                </div>
                <div class="event-card-title">
                  {{ event.title }}
                </div>
                <div class="event-card-location">
                  {{ event.location }}
                </div>
              </div>
            </div>
          </div>>

          {% endfor %}
        </div>
      </div>


    </div>

  </div>

</div>







{% endblock %}
