{% extends "calendar/base.html" %}

{% block title %}
My Calendar
{% endblock %}

{% block content %}

{% load mathfilters %}

<div class="calendar-container">
  
  <div class="calendar-grid-container">
    {% for name in day_names %}
    {% if forloop.counter|mod:7 == 1 %}
      <div class="day-name day-name-container weekend">
        {{ name }}
      </div>
    {% elif forloop.counter|mod:7 == 0 %}
    <div class="day-name day-name-container weekend">
      {{ name }}
    </div>
    {% else %}
    <div class="day-name day-name-container">
      {{ name }}
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="calendar-grid-container">
  {% for day in offset_numbers %}
  {% if forloop.counter|mod:7 == 1 %}
  <div class="col-1 day-num-size weekend past-month-day"> 
    <div class = "day-num">
      {{ day }}
    </div>
    <div class = "day-event-container">
      <div class="day-event">
        Events go here
      </div>
    </div>
  </div>
  {% elif forloop.counter|divisibleby:7 %}
    <div class="col-1 day-num-size weekend past-month-day"> 
      <div class = "day-num">
        {{ day }}
      </div>
      <div class = "day-event">
        Events go here
      </div>
    </div>
  {% else %}
  <div class="col-1 day-num-size past-month-day"> 
    <div class = "day-num">
      {{ day }}
    </div>
    <div class = "day-event">
      Events go here
    </div>
  </div>
  {% endif %}
  {% endfor %}



  {% for day in days_list %}
  {% with forloop.counter|add:day_offset as counter_with_offset %}
  {% if forloop.counter == date %}
  <div class="col-1 day-num-size current-day"> 
    <div class = "day-num">
      {{ day }}
    </div>
    <div class = "day-event-container">
      <div class="red-event-bar">

      </div>
      <div class="day-event red-event">
        Events go here
      </div>
    </div>
  </div>
  {% elif counter_with_offset|mod:7 == 1 %}
  <div class="col-1 day-num-size weekend"> 
    <div class = "day-num">
      {{ day }}
    </div>
    <div class = "day-event">
      Events go here
    </div>

  </div>
  {% elif counter_with_offset|divisibleby:7 %}
    <div class="col-1 day-num-size weekend"> 
      <div class = "day-num">
        {{ day }}
      </div>
      <div class = "day-event">
        Events go here
      </div>
    </div>
  {% else %}
  <div class="col-1 day-num-size"> 
    <div class = "day-num">
      {{ day }}
    </div>
    <div class = "day-event">
      Events go here
    </div>
  </div>
  {% endif %}
  
  {% if counter_with_offset|divisibleby:7 and not forloop.last %}
    </div><div class="calendar-grid-container">
  {% endif %}
  {% endwith %}
  {% endfor %}

  {% for day in next_offset_nums %}
  {% with forloop.counter|add:day_offset as counter_with_offset %}
  {% with counter_with_offset|add:current_days as next_counter_offset %}
  {% if next_counter_offset|divisibleby:7 %}
    <div class="col-1 day-num-size  past-month-day weekend"> 
      <div class = "day-num">
        {{ day }} 
      </div>
      <div class = "day-event">
        Events go here
      </div>
    </div>
  {% else %}
  <div class="col-1 day-num-size past-month-day"> 
    <div class = "day-num">
      {{ day }} 
    </div>
    <div class = "day-event">
      Events go here
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% endwith %}
  {% endfor %}

  

  </div>
</div>


{% endblock %}