
.daysRow{
    height: 2vh;
    justify-content: space-between;
    padding-bottom: 0.25vh;
}

.dayBox {
    width: 1vw;
    font-size: 1.1vh;
    font-family: Inter, sans-serif;
    align-items: center;
    color: #71717A;
    display: flex;
    gap: 1.3vw;
    padding-top: 2vh;
    margin-left: 1vw;
}
.grid-container
{
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-left: 0.25vw;
  padding-right: 0.25vw;
  
}
.minicalCol {
    grid-column: span 1;
}
.circle {
  width: 3vh;
  height: 2.1vh;
  background-color: #3498db;
  color: white;
  font-size: 1.1vh; 
  text-align: center;
  padding-top: 6px;
  padding-bottom: 1px;
  margin-top: 0.9vh;
  margin-left: 1.1vh;
  border-radius: 50%;
}  
.circ1 {
  border-radius: 50%;
  width: 0.65vh;
  height: 0.65vh;
  background-color: #88e788;
}
.circ2 {
  border-radius: 50%;
  width: 0.65vh;
  height: 0.65vh;
  background-color: #64EEFA;
  margin-left: 2vh;
}
.circ3 {
  border-radius: 50%;
  width: 0.65vh;
  height: 0.65vh;
  background-color: #D6BAF4;
  margin-left: 4vh;
}
.triple {
  width: 4vh;
  height: 1.5vh;
  flex-direction: row;
}
