.calendar-container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 93.5vh;
}

.calendar-grid-container
{
  display: grid;
  
  grid-template-columns: repeat(7, 1fr);
  padding-left: 0.5625vw;
  padding-right: 0.5625vw;
  
}

.month-name{
  font-size: 2vw;
  font-weight: bold;
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 4vh;
}

.calendar-grid-container .col-1 {
  
  grid-column: span 1;
  border: 0.5px solid #E0E0E0;
}

.calendar-grid-container .weekend{
  background-color: #f0f0f0;
}

.calendar-grid-name-container .weekend{
  background-color: #f0f0f0;
}

.calendar-grid-container .current-day{
  background-color: #eff6ff;
}

.calendar-grid-container .past-month-day{
  color: #7c7c7c;

}

.day-event-container{
  display: flex;
  flex-direction: row;
  margin-top: 0.15vh;
  height: 3.4vh;
  line-height: 24px;
}

.day-events-container{
  display: flex;
  flex-direction: column;
}

.day-event{
  border-radius: 0px 4px 4px 0px;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: 100%;
  overflow: hidden;
  text-overflow: clip;  
  padding-left: 0.25vw;
}


.day-num-size{
  min-height: 13.96vh;

  max-height: 22vh;
}

.day-num{
  text-align: right;
  padding-right: 0.5vw;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.month-container{
  display: flex;
  height: 88.5vh;
}

.month-grid-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88.5vh;
}

.calendar-grid-container a:link,
.calendar-grid-container a:visited{

  text-decoration: none;
  color:black;
  
}

.link-container{
  width: 100%;
  height: 100%;
}

.excess-month-view{
  margin-top: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: right;

}


.month-event-icon{
  fill: rgb(255, 102, 102);
}
