.hr-1{
  top: 0vh;
}
.hr-2{
  top: 7.5vh;
}

.min-10{
  top: 1.25vh
}

.hr-3{
  top: 15vh;
}
.hr-4{
  top: 22.5vh;
}
.hr-5{
  top: 30vh;
}
.hr-6{
  top: 37.5vh;
}
.hr-7{
  top: 45vh;
}
.hr-8{
  top: 52.5vh;
}
.hr-9{
  top: 60vh;
}
.hr-10{
  top: 67.5vh;
}
.hr-11{
  top: 75vh;
}
.hr-12{
  top: 82.5vh;
}

.hr-13{
  top: 90vh;
}
.hr-14{
  top: 97.5vh;
}

.hr-15{
  top: 105vh;
}
.hr-16{
  top: 112.5vh;
}
.hr-17{
  top: 120vh;
}
.hr-18{
  top: 127.5vh;
}
.hr-19{
  top: 135vh;
}
.hr-20{
  top: 142.5vh;
}
.hr-21{
  top: 150vh;
}
.hr-22{
  top: 157.5vh;
}
.hr-23{
  top: 165vh;
}
.hr-24{
  top: 172.5vh;
}

