<!doctype html>
<html lang="en-US">
  {% load static %}
  {% load mathfilters %}

  {% load calendar_filters %}
  
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Allow templates to inject their own types -->
    {% block head %}
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


  </head>

  <body>
      <div class="main-container">

        <div class="body-container">
          <div class="body-title">
            onSchedule
          </div>
    <!-- Login functionality gets placed here, but block code is found in another html file -->  
          {% block content %}
          {% endblock %}
        </div>
<!-- Decoration -->
        <div class="background-container rect-grid">
          <div class="rect-container shade-12">
          </div>

          <div class="rect-container shade-25">
          </div>

          <div class="rect-container shade-50">
          </div>

          <div class="rect-container shade-75">
          </div>
        </div>


      </div>
  </body>
</html>
