<html lang="en">
    <body>
        <div class="container mt-5">
            <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <p><a href="/cal/month"> Return to your Calendar </a></p>

                <h1>Friend List</h1>

                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>

                {% for friend in friends %}
                
                <h2>{{friend.Amigo.first_name}} {{friend.Amigo.last_name}}</h2>
                    {% if friend.viewable %}
                        {% if friend.requestPending %}
                            <a href="{% url 'users:accept_friend' friend.Amigo.username %}">Accept Friend Request</a>
                            <a href="{% url 'users:reject_friend' friend.Amigo.username %}">Reject Friend Request</a>
                        {% else %}
                            <a href="{% url 'users:update_friend' friend.Amigo.username %}">View Calendar</a>
                        {% endif %}
                    {% else %}
                        <h3>You are currently waiting for a response to your friend request to this user</h3>
                    {% endif %}
                
                {% endfor %}


                <div class="form-group">
                    <label for="username">
                        Want Friends? Put in their Username here
                    </label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
                </div>

                
            </form>
        </div>
    </body>
</html>