{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'home.css' %}">

{% endblock %}

{% block content %}

{% load mathfilters %}


<div class="content-container-main">
  <div class="links-container">

    {% url 'users:register_page' as register %}
    <a href ="{{ register }}">
      <div class = "link-format">
        Register
      </div>
    </a>

    {% url 'users:login_page' as login %}
    <a href ="{{ login }}">
      <div class = "link-format">
        Login
      </div>
    </a>

    {% url 'cal:index' as cal_home %}
    <a href ="{% url 'cal:index' %}">
      <div class = "link-format">
        Go to Calendar
      </div>
    </a>

  </div>
</div>

{% endblock %}