{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'home.css' %}">

{% endblock %}

{% block content %}

{% load mathfilters %}
<!-- This html file is not in use -->

<div class="content-container-main">

  <div class="header">
    The Only Calendar You Will Ever Need

  </div>
  <div class="links-container">

    <div class="register-box">
      <div class="body">
        Get Started Now!
      </div>
      {% url 'users:register_page' as register %}
      <a href ="{{ register }}">
        <button class = "button-sign">
          Register
        </button>
      </a>
    </div>

    <div class="login-box">
      <div class="body">
        Continue Planning
      </div>
      {% url 'users:login_page' as login %}
      <a href ="{{ login }}">
        <button class="button-sign">
          Login
        </button>
      </a>
    </div>

  </div>
</div>

{% endblock %}
