{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'login.css' %}">

{% endblock %}

{% block content %}

{% load mathfilters %}

<div class="login-container">
  <div class="title-container">
    Login
  </div>
  <div class="form-container">
    <form class="form-css" method="post" enctype="multipart/form-data">
    
      {% csrf_token %}
      
      <div class="" role="alert">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
      </div>
  
      <div class="information-container">

        <div class="information-box">
          <label for="username">
              Username:
          </label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
  
      </div>
  
      <div class="information-box">
          <label for="password">
              Password:
          </label>
          <input type="text" class="form-control" name="password" id="password" placeholder="Enter password" required>
          
      </div>
      </div>
      
      <div>Forgot your Password: <a href="{% url 'users:username_get_page' %}"> Reset Here </a></div>
  
      <div>Register Now: <a href= "{% url 'users:register_page' %}"> Register </a></div>
  
      <button type="submit" class="good-button"> Submit </button>
  </form>
  </div>
</div>

{% endblock %}