{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'register.css' %}">

{% endblock %}

{% block content %}

{% load mathfilters %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}

        <h3> 
            Congratulations, you have reset your password
        </h3>

        <p>Please<a href="/login"> Login </a></p>
    </form>
</div>

{% endblock %}