{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'register.css' %}">

{% endblock %}

{% block content %}

{% load mathfilters %}

<div class="login-container">
  <div class="title-container">
    Register
  </div>
  <div class="form-container">
    <form class="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="" role="alert">
          {% for message in messages %}
          {{ message }}
          {% endfor %}
      </div>
  
      <div class="form-group">
          <label for="firstName">
              First Name:
          </label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="first_name" required>
  
      </div>
  
      <div class="form-group">
          <label for="lastName">
              Last Name:
          </label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="last_name" required>
  
      </div>
  
      <div class="form-group">
          <label for="email">
              Email:
          </label>
          <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email" required>
  
      </div>
  
      <div class="form-group">
          <label for="username">
              Username:
          </label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username" required>
  
      </div>
  
      <div class="form-group">
          <label for="password">
              Password:
          </label>
          <input type="text" class="form-control" name="password" id="password" placeholder="Enter password" required>
          
      </div>
  
      <button type="submit" class="good-button"> Submit </button>
  </form>
  </div>

</div>

{% endblock %}