
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.main-container{
  min-width: 100vw ;
  min-height: 100vh;
  display: flex;

}

.body-container{

  width:50vw;
}

.background-container{
  width:50vw;
}

.body-title{
  font-size: 5vw;
  color: rgb(255, 146, 146);
  text-align: center;
  height: 10vh;
}

.rect-grid{

  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.rect-container{

  grid-column: span 1;
}

.shade-12{
  background-color: rgba(255, 102, 102, 0.12);
}


.shade-25{
  background-color: rgba(255, 102, 102, 0.25);
}

.shade-50{

  background-color: rgba(255, 102, 102, 0.5);
}

.shade-75{
  background-color: rgba(255, 102, 102, 0.75);
}

.links-container{

  text-align: center;
}

