.event-form{
  font-size: 2.7vh;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  height: 100%;

  
}

.field-content{
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  display: flex;
  flex-direction: row;
  width: 16.5vw;
  
}

.form-label{

  
}
.date-creation{

  display: flex;
  flex-direction: column;
}
.date-field
{
  display: flex;
  flex-direction: row;

}

.time-field{
  display: flex;
  flex-direction: row;

}

