html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.home-container{
  display: flex;
}

.main-container{
  
  flex-direction: column;
  height: 100%;
  
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.calendar-container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}


/* used in both Month and Week View*/
.calendar-grid-container
{
  display: grid;
  
  grid-template-columns: repeat(7, 1fr);
  padding-left: 0.5625vw;
  padding-right: 0.5625vw;
  
}

.calendar-grid-container .row{
  grid-template-columns: repeat(7, 1fr);

  background-color: rgb(0, 0, 0);
}

.calendar-grid-container .col-1 {
  
  grid-column: span 1;
  border: 0.5px solid #E0E0E0;
}

.day-name{
  min-height: 5vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5vh;
  padding-left: 0.25vw;
}
.day-name-empty{
  min-height: 6.5vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5vh;
  padding-left: 0.25vw;
}

.day-name-container
{
  border-left: 0.5px solid #E0E0E0;
  border-right: 0.5px solid #E0E0E0;
  border-bottom: 0.5px solid #E0E0E0;;
}

.red-event-bar{
  background-color: #FF6666;
  width: 3px;
  border-radius: 4px 0px 0px 4px;
}
.blue-event-bar{
  background-color: #668AFF;
  width: 3px;
  border-radius: 4px 0px 0px 4px;
}

.red-event{
  background-color: rgba(255, 102, 102, 0.40);
  color: #FF6666;
}

.blue-event{
  color: #668AFF;
  background-color:rgba(102, 138, 255, 0.50);
}

.calendar-grid-container .weekend{
  background-color: #f0f0f0;
}

.calendar-grid-container .current-day{
  background-color: #eff6ff;
}

.calendar-grid-container .past-month-day{
  color: #7c7c7c;

}

/* End of Shared Item */




/* not used */
.month-button {
  background: #DC2626;
  display: flex;
  padding: 0.75vh 1.5vh;
  align-items: center;
  gap: 0.75vh;
  border-radius: 8px;
  color: #ffffff;
  
}
/* not used? */
.month-list{
  color: #ffffff;
  font-family: Inter;
  font-size: 1.5625vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1vw;
}

/* not used? */
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}